#include <physical_layouts.dtsi>

/ {
    housekeys_transform: housekeys_transform {
        compatible = "zmk,layout-transform";
        map = <0 0 0>;
    };
    housekeys_layout: housekeys38_layout {
        compatible = "zmk,physical-layout";
        display-name = "housekeys38";
        transform = <&housekeys_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   37       0     0     0>
            , <&key_physical_attrs 100 100  100   12       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   12       0     0     0>
            , <&key_physical_attrs 100 100  400   24       0     0     0>
            , <&key_physical_attrs 100 100  700   24       0     0     0>
            , <&key_physical_attrs 100 100  800   12       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000   12       0     0     0>
            , <&key_physical_attrs 100 100 1100   37       0     0     0>
            , <&key_physical_attrs 100 100    0  137       0     0     0>
            , <&key_physical_attrs 100 100  100  112       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  112       0     0     0>
            , <&key_physical_attrs 100 100  400  124       0     0     0>
            , <&key_physical_attrs 100 100  700  124       0     0     0>
            , <&key_physical_attrs 100 100  800  112       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1000  112       0     0     0>
            , <&key_physical_attrs 100 100 1100  137       0     0     0>
            , <&key_physical_attrs 100 100    0  237       0     0     0>
            , <&key_physical_attrs 100 100  100  212       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  212       0     0     0>
            , <&key_physical_attrs 100 100  400  224       0     0     0>
            , <&key_physical_attrs 100 100  700  224       0     0     0>
            , <&key_physical_attrs 100 100  800  212       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  212       0     0     0>
            , <&key_physical_attrs 100 100 1100  237       0     0     0>
            , <&key_physical_attrs 100 100  150  312       0     0     0>
            , <&key_physical_attrs 100 100  360  320     500   350   300>
            , <&key_physical_attrs 100 100  450  330    1200   450   412>
            , <&key_physical_attrs 100 100  555  350    1800   550   423>
            , <&key_physical_attrs 100 100  750  350 (-1800)   850   423>
            , <&key_physical_attrs 100 100  850  350 (-1200)   850   412>
            , <&key_physical_attrs 100 100  940  330  (-500)   960   300>
            , <&key_physical_attrs 100 100 1050  320       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        housekeys_layout {
            physical-layout = <&housekeys_layout>;
            positions = <>;
        };
    };
};
