if SHIELD_HOUSEKEYS38_LEFT

config ZMK_KEYBOARD_NAME
    default "housekeys38"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HOUSEKEYS38_LEFT || SHIELD_HOUSEKEYS38_RIGHT

config ZMK_SPLIT
    default y

endif